{% load static %}
<html>
  <head>
  </head>
  <body>
    {% block extrahead %}
      <link href="{% static 'game.css' %}" rel="stylesheet">
    {% endblock %}

    <div class='a1'>
      <h1><img src="{% static 'img/test.png' %}" class="game"></h1>
    </div>
    <div class="b1">
      <p>アシスト表示</p>
    </div>
      
    <div class="c1">
      <p class="text1">チュートリアル表示</p>
      <h1 class="title">
        {{title}}
      </h1>
    </div>

  <div class="menu">
      <label for="menu_bar01">基本ルール</label>
      <input type="checkbox" id="menu_bar01" class="accordion" />
      <ul id="links01">
        <li>ディーラーが自分とプレイヤーにカードを配り、手札の合計数が21点に近い方が勝ちです</li>
        <li>カードの合計値が21点を超えた場合バーストになり、負けとなります。</li>
      </ul>
    <label for="menu_bar02">カードの点数について</label>
    <input type="checkbox" id="menu_bar02" class="accordion" />
    <ul id="links02">
        <li>2~10:数字通りの点数</li>
        <li>絵札:全て10点</li>
        <li>A:1点or11点</li>
    </ul>
    <label for="menu_bar03">宣言について</label>
    <input type="checkbox" id="menu_bar03" class="accordion" />
    <ul id="links03">
        <li>カードを引く場合はヒット</li>
        <li>それ以上引かない場合はスタンド</li>
    </ul>
</div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    $(function() {
    
        socket = new WebSocket("ws://localhost:9990/");
        socket.onmessage = function(e) {
            
            $('.text1').html(e.data);
    
        }
    });
    
  </script>
</html>