body{
    background-color: #433D3C;
}

.main-div{
   max-width: 1400px;
}

.r1 {
    margin-top: 20px;
}

.r2 {
    margin-top: 10px;
}

.game-screen {
    
}

.game-screen div {
    
}

.game{
    margin: 0 auto;
    width: 100%;
}

.assist{
    color:#fff;
    text-align: center;
    width: 300px;
    border: double #ADA250;    
}

.c1{
    color:#fff;
    text-align: center;
    border: double #ADA250;
}

/*
.subtitle{
    text-align: right;
}
*/

/*固定チュートリアル*/


.menu {
    margin: 1%;
    max-width: 400px;
    padding: 0;
}

label {
    display: block;
    padding: 12px 12px 8px 12px;
    line-height: 1;
    color:#c0c0c0;
    border-bottom: solid 2px #737373;
    margin-bottom: 0;
}

input {
    display: none;
}

#menu_bar02 {
    margin-top: 2%;
}

#menu_bar03 {
    margin-top: 2%;
}

.menu ul {
    margin: 0;
    padding: 0 0 0 20px;
    color:#c0c0c0;
    list-style: square;
    list-style-type: none;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li,
#menu_bar03:checked ~ #links03 li {
    max-height: 46px;
    opacity: 1;
}