body{
    background-color: #433D3C;
}

.game{
    width: 1280px;
    height: 720;
    margin: 5% 0 -15% 5%;
}

/*
.a1{
    text-align: left;
    margin:1% 0 10% 10%;
}
*/

/*
.b1{
    color:#fff;
    text-align: right;
    margin: -35% 18% 0 70%;
    padding: 10% 0 10% 0;
    border: double #ADA250;    
}
*/

.b1{
    color:#fff;
    text-align: center;
    margin: -11% 10% -20% 70%;
    padding: 10% 0 10% 0;
    border: double #ADA250;    
}

/*
.c1{
    color:#fff;
    text-align: left;
    margin: 15% 45% 0 10%;
    border: double #ADA250;
    padding:1% 15% 1% 18%;
}
*/

.c1{
    color:#fff;
    text-align: center;
    margin: 30% 45% 0 4%;
    border: double #ADA250;
}

/*
.subtitle{
    text-align: right;
}
*/

/*固定チュートリアル*/


.menu {
    margin: -15% 0 0 70%;
    max-width: 400px;
    padding: 0;
}

label {
    display: block;
    margin: 0 0 2.7% 0;
    padding: 12px 12px 8px 12px;
    line-height: 1;
    color:#c0c0c0;
    border-bottom: solid 2px #737373;
}

input {
    display: none;
}

.menu ul {
    margin: 0;
    padding: 0;
    color:#c0c0c0;
    list-style: square;
    list-style-type: none;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li,
#menu_bar03:checked ~ #links03 li {
    max-height: 46px;
    opacity: 1;
}